.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar a {
  color: white;
}

.navbar {
  background-color: #264653;
  height: 100px;
}

.content {
  height: 100vh;
  background-color: #2A9D8F;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.patient-button {
  width: 130px;
  margin-bottom: 20px;
}

.patient-button-name {
  float: left;
  
}

.patient-button-name .btn {
  border-radius: 0px;
  width: 100px;
}