.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar a {
  color: white;
}

.navbar {
  background-color: #264653;
  height: 100px;
}

.header {
	height: auto;
	background-color: #264653;
	color: white;
	display: flex; 
	flex-direction: row;
	align-items: left;
}

.content {
  height: 100vh;
  background-color: #086788;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.patient-button {
  width: 230px;
  height: 100px;
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 20px;
  border-radius: 15px;
  border-width: 2px;
  box-shadow: -8px 8px 10px 0 rgba(0,0,0,0.10), -8px 6px 10px 0 rgba(0,0,0,0.10);
}

.patient-button-name {
  float: left;
  
}

.patient-button-name .btn {
  background-color: #b6b5bf;
  height: 100px;
  width: 200px;
  font-size: 30px;
  font-family: sans-serif;
  border-radius: 15px 0px 0px 15px;
  border-width: 0px 2px 0px 0px;
  border-color: black;
}

.dropdown {
	width: 350px;
	font-family: sans-serif;
	font-size: 25px;
}